body {
    margin: 0;
    overflow: hidden;
}

.page {
    background-color: #6d28d9;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    position: relative;
}

.topBar {
    background-color: #e5e7eb;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 200px; /* ou margin-left: 200px */
    box-sizing: border-box;
}


.sideBar {
    background-color: #04a52c;
    width: 200px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    min-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .close-button {
    background-color: #ef4444;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .check-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .stock_icon{
    height: 40px;
    width: auto;
  }
  

